{% load static %}
<!doctype html>
<html lang="en">
{% include "../ext/header.html" %}
<body>

   <!-- loader -->
        {% include "members/app_loader.html" %}
    <!-- * loader -->

    <!-- * App Header -->
    {% include "members/app_header.html" %}
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">
       <!-- Transactions -->
        <div class="section mt-2">
            <div class="section-title">Member List</div>
            <div class="transactions">
                {% for eachMember in members_instance %}
                <!-- item -->
                <a href="/activate_account/{{eachMember.username}}" class="item">
                    <div class="detail">
                        <img src="{% static 'assets/img/photo.png'  %}" alt="img" class="image-block imaged w48">
                        <div>
                            <strong>{{eachMember.first_name}}</strong>
                            <p>{{eachMember.membershipTitle}}</p>
                            
                        </div>
                    </div>
                    <div class="right">
                        {% if eachMember.is_member %}
                      <div class="price text-success">
                        <ion-icon name="checkmark-circle" style="font-size: 32px;"></ion-icon>
                    </div>   
                    {% else %}
                        <div class="price text-danger">
                        <ion-icon name="close-circle" style="font-size: 32px;"></ion-icon>
                    </div>
                    {% endif %}  

                    </div>
                </a>
                <!-- * item -->
                {% endfor %}
   
            </div>
        </div>
        <!-- * Transactions -->
    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    {% include "members/app_buttom_menu.html" %}
    <!-- App Bottom Menu -->
    {% include "members/app_modals.html" %}


{% include "../ext/footer.html" %}

</body>

</html>