{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include '../ext/header.html' %}
  <body>
    <!-- loader -->
    {% comment %} <div id="loader">
      <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon" />
    </div> {% endcomment %}
    <!-- * loader -->

    <!-- * App Header -->
    {% include 'members/app_header.html' %}
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">
      <div class="section mt-2 text-center">
        <h1>Activate Account</h1>
        <h4>Activate Members account.</h4>
      </div>

      <div class="section mb-5 p-2">
        <form action="/activate_member_account" id="registerForm" method="post" onsubmit="submutbutton.disabled = true; return true;" autocomplete="off">
          {% csrf_token %}
          <div class="card">
            <div class="card-body">
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="email1">FIRST NAME</label>
                  <input type="text" class="form-control" name="fname" id="email1" readonly value="{{select_members_instance.first_name}}"/>
                  <i class="clear-input"><ion-icon name="close-circle"></ion-icon></i>
                </div>
              </div>
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="email1">LAST NAME</label>
                  <input type="text" class="form-control" name="lname" id="email1" readonly value="{{select_members_instance.last_name}}" placeholder="Enter your last name" />
                  <i class="clear-input"><ion-icon name="close-circle"></ion-icon></i>
                </div>
              </div>
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="email1">USERNAME</label>
                  <input type="number" class="form-control" name="username" id="email1" readonly value="{{select_members_instance.username}}" placeholder="Your e-mail" />
                  <i class="clear-input"><ion-icon name="close-circle"></ion-icon></i>
                </div>
              </div>
              {% if select_members_instance.is_member %}
              
              {% else %}
              <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="label" for="account2d">DESIGNATION</label>
                    <select class="form-control custom-select" name="designation" id="account2d" required>
                        <option value="" disabled selected>Select designation</option>
                        <option value="Admin">Admin</option>
                        <option value="Member">Member</option>
                    </select>
                </div>
              </div>
              <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="label" for="account2d">POSITION</label>
                    <select class="form-control custom-select" name="position" id="account2d" required>
                        <option value="" disabled selected>Select designation</option>
                        <option value="Member">Member</option>
                        <option value="President">President</option>
                        <option value="Vice Prisident">VP</option>
                        <option value="Treasurer">Treasurer</option>
                        <option value="SG">SG</option>
                        <option value="Secretary">Secretary</option>
                        <option value="Social">Social</option>
                    </select>
                </div>
              </div>

              <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="label" for="account2d">REGISTRATION AMOUNT</label>
                    <select class="form-control custom-select" name="registrationAmount" id="account2d" required>
                        <option value="" disabled selected>Select Amount</option>
                        <option value="1000">1000 XAF</option>
                        <option value="2000">2000 XAF</option>
                        <option value="3000">3000 XAF</option>
                        <option value="5000">5000 XAF</option>
                        <option value="10000">10000 XAF</option>
                    </select>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <br />
          <br /><br />

          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-outline-primary alert-dismissible fade show" role="alert">
                        {{ message }}!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% else %}

          {% endif %}
          <br><br>
          {% if select_members_instance.is_member %}
          
          <button type="submit" name="submutbutton" disabled class="btn btn-warning btn-block btn-lg">Already Activated</button>

          {% else %}
          <button type="submit" name="submutbutton" class="btn btn-warning btn-block btn-lg">Activate</button>

          {% endif %}
        </form>
      </div>
    </div>
    <!-- * App Capsule -->

    <!-- App Bottom Menu -->
    {% include 'members/app_buttom_menu.html' %}
    <!-- App Bottom Menu -->

    {% include '../ext/footer.html' %}
  </body>
</html>
