{% if request.user.is_admin%}
<!-- App Admin Bottom Menu -->
    <div class="appBottomMenu">

        {% if "/members_dashboard" in request.path %}
        <a href="/members_dashboard" class="item active">
            <div class="col">
                <ion-icon name="home-outline"></ion-icon>
                <strong>Home</strong>
            </div>
        </a>
        {% else %}
        <a href="/members_dashboard" class="item">
            <div class="col">
                <ion-icon name="home-outline"></ion-icon>
                <strong>Home</strong>
            </div>
        </a>
        {% endif %}

        {% if "/incoming_payment" in request.path %}
        <a href="/incoming_payment" class="item active" >
            <div class="col">
                <ion-icon name="archive-outline"></ion-icon>
                <strong>Payments</strong>
            </div>
        </a>
         {% else %}
        <a href="/incoming_payment" class="item" >
            <div class="col">
                <ion-icon name="archive-outline"></ion-icon>
                <strong>Deposits</strong>
            </div>
        </a>
         {% endif %}

        <a href="/donations" class="item">
            <div class="col">
                <ion-icon name="gift-outline"></ion-icon>
                <strong>Donations</strong>
            </div>
        </a>
        
        {% if "/member_list" in request.path %}
        <a href="/member_list" class="item active">
            <div class="col">
            <ion-icon name="people-outline"></ion-icon>
                <strong>Members</strong>
            </div>
        </a>
        {% else %}
        <a href="/member_list" class="item">
            <div class="col">
            <ion-icon name="people-outline"></ion-icon>
                <strong>Members</strong>
            </div>
        </a>
        {% endif %}

        {% if "/app_setting" in request.path %}
        <a href="/app_setting" class="item active">
            <div class="col">
                <ion-icon name="person-outline"></ion-icon>
                <strong>My Profile</strong>
            </div>
        </a>
        {% else %}
        <a href="/app_setting" class="item">
            <div class="col">
                <ion-icon name="person-outline"></ion-icon>
                <strong>My Profile</strong>
            </div>
        </a>
        {% endif %}
    </div>
<!-- * App Bottom Menu -->

{% else %}

<!-- Member Bottom Menu -->
    <div class="appBottomMenu">

        {% if "/members_dashboard" in request.path %}
        <a href="/members_dashboard" class="item active">
            <div class="col">
                <ion-icon name="home-outline"></ion-icon>
                <strong>Home</strong>
            </div>
        </a>
        {% else %}
        <a href="/members_dashboard" class="item">
            <div class="col">
                <ion-icon name="home-outline"></ion-icon>
                <strong>Home</strong>
            </div>
        </a>
        {% endif %}

        <a href="#" class="item" data-bs-toggle="modal" data-bs-target="#withdrawActionSheet">
            <div class="col">
                <ion-icon name="arrow-down-circle-outline"></ion-icon>
                <strong>Deposit</strong>
            </div>
        </a>
        {% if "/donations" in request.path %}
        <a href="/donations" class="item active">
            <div class="col">
                <ion-icon name="heart-outline"></ion-icon>
                <strong>Donations</strong>
            </div>
        </a>
        {% else %}
        <a href="/donations" class="item">
            <div class="col">
                <ion-icon name="heart-outline"></ion-icon>
                <strong>Donations</strong>
            </div>
        </a>
        {% endif %}
        
        {% if "/member_list" in request.path %}
        <a href="/member_list" class="item active">
            <div class="col">
            <ion-icon name="people-outline"></ion-icon>
                <strong>Members</strong>
            </div>
        </a>
        {% else %}
        <a href="/member_list" class="item">
            <div class="col">
            <ion-icon name="people-outline"></ion-icon>
                <strong>Members</strong>
            </div>
        </a>
        {% endif %}

        {% if "/app_setting" in request.path %}
        <a href="/app_setting" class="item active">
            <div class="col">
                <ion-icon name="person-outline"></ion-icon>
                <strong>My Profile</strong>
            </div>
        </a>
        {% else %}
        <a href="/app_setting" class="item">
            <div class="col">
                <ion-icon name="person-outline"></ion-icon>
                <strong>My Profile</strong>
            </div>
        </a>
        {% endif %}
    </div>
<!-- * Member Bottom Menu -->

{% endif %}