{% load static %}
<!doctype html>
<html lang="en">
{% include "ext/header.html" %}
<body>

   <!-- loader -->
        {% include "members/app_loader.html" %}
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
            <a href="#" class="headerButton" data-bs-toggle="modal" data-bs-target="#sidebarPanel">
                <ion-icon name="menu-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">
            <img src="{% static 'assets/img/loading-icon.png'  %} " alt="logo" class="logo">
        </div>
        <div class="right">
            <a href="/transactions" class="headerButton">
                <ion-icon class="icon" name="notifications-outline"></ion-icon>
                <span class="badge badge-danger"></span>
            </a>
            {% comment %} <a href="app-settings.html" class="headerButton">
                <img src=" {% static 'assets/img/photo.png'  %}" alt="image" class="imaged w32">
                <span class="badge badge-danger">6</span>
            </a> {% endcomment %}
        </div>
    </div>
    <!-- * App Header -->


    <!-- App Capsule -->
    <div id="appCapsule">

        <!-- Wallet Card -->
        <div class="section wallet-card-section pt-1">
            <div class="wallet-card">
                <!-- Balance -->
                <div class="balance">
                    <div class="left">
                        <span class="title">Group Balance</span>
                        <h1 class="total">{{mainAccountBalance}} XAF</h1>
                    </div>
                    <div class="right">
                        <a href="#" class="button" data-bs-toggle="modal" data-bs-target="#withdrawActionSheet">
                            <ion-icon name="add-outline"></ion-icon>
                        </a>
                    </div>
                </div>
                <!-- * Balance -->
                {% if request.user.is_admin %}
                <!-- Admin Menu Card -->
                <div class="wallet-footer">
                    <div class="item">
                        <a href="/process_donation_withdrawal" >
                            <div class="icon-wrapper bg-danger">
                                <ion-icon name="arrow-down-circle-outline"></ion-icon>
                            </div>
                            <strong>Donx Out</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/new_donation" >
                            <div class="icon-wrapper">
                               <ion-icon name="heart-outline"></ion-icon>
                            </div>
                            <strong>New Donation</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/unactivated_members">
                            <div class="icon-wrapper bg-success">
                                <ion-icon name="send-outline"></ion-icon>
                            </div>
                            <strong>Activate Member</strong>
                        </a>
                    </div>
                        <div class="item">
                        <a href="/delete_preference_Date">
                            <div class="icon-wrapper bg-success">
                                <ion-icon name="calendar-outline"></ion-icon>
                            </div>
                            <strong>Pref Dates</strong>
                        </a>
                    </div>
                </div>
                <!-- * Admin Card -->
                {% else %}

             <!-- Members Menu Card -->
                <div class="wallet-footer">
                    <div class="item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#withdrawActionSheet">
                            <div class="icon-wrapper bg-danger">
                                <ion-icon name="arrow-down-circle-outline"></ion-icon>
                            </div>
                            <strong>Deposit</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/donations" >
                            <div class="icon-wrapper">
                                <ion-icon name="heart-outline"></ion-icon>
                            </div>
                            <strong>Donations</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/transfer">
                            <div class="icon-wrapper bg-success">
                                <ion-icon name="send-outline"></ion-icon>
                            </div>
                            <strong>Transfer</strong>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/member_list">
                            <div class="icon-wrapper bg-warning">
                                <ion-icon name="people-outline"></ion-icon>
                            </div>
                            <strong>Members</strong>
                        </a>
                    </div>
                </div>
                <!-- * Members Footer -->
                {% endif %}
            </div>
        </div>
        <!-- Members Menu Card -->


        {% if request.user.is_admin %}

        {% else %}
        <div class="section">
            <div class="row mt-2">
                <div class="col-6">
                    <div class="stat-box">
                        <div class="title">MY SAVINGS</div>
                        <div class=" text-primary"><strong>{{membersBalance}} XAF</strong></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="stat-box">
                        <div class="title">TROUBLE FUNDS</div>
                        <div class=" text-danger">{{troubleFundsBalance}} XAF</div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                    <div class="col-12">
                    <div class="stat-box">
                        <div class="title">GROUP REGISTRATION</div>  
                        <div style="text-align:center; margin: 20px;">
                        <ion-icon name="people-outline" style="font-size: 50px; color: #4CAF50;"></ion-icon>
                        <ion-icon name="checkmark-circle-outline" style="font-size: 50px; color: #4CAF50; position: relative; left: -20px; top: 20px;"></ion-icon>
                        <div style="font-size: 24px; margin-top: 10px; font-weight: bold;"></div>
                    </div>
                        <div class=" text-primary"> {{groupRegistrationAmount}} XAF</div>
                    </div>
                </div>
            </div> 
        </div>
        {% endif %}


{% if request.user.is_member %}  
<!-- Member Transaction History -->
        <div class="section mt-4">
            <div class="section-heading">
                <h2 class="title">TRANSACTIONS</h2>
                <a href="/transactions" class="link">More</a>
            </div>
            <div class="card">
                <ul class="listview flush transparent no-line image-listview detailed-list mt-1 mb-1">
                    <!-- item -->
                    {% for eachTransaction in transaction_log %}
                    <li>
                        <a href="/transactions_details/{{eachTransaction.id}}" class="item">
                            <div class="icon-box bg-success">
                                <ion-icon name="arrow-up-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <div>
                                    <strong>{{eachTransaction.transactionType}}</strong>
                                    {% if eachTransaction.transactionStatus == "Initiated" or eachTransaction.transactionStatus == "Rejected" or  eachTransaction.transactionStatus == "Fraud" %}
                                    <div class="text-small text-danger">{{eachTransaction.transactionStatus}} <ion-icon name="close-circle-outline"></ion-icon></div>
                                    {% else %}
                                    <div class="text-small text-primary">{{eachTransaction.transactionStatus}} <ion-icon name="checkmark-circle-outline"></ion-icon></div>
                                    {% endif %}
                                </div>
                                <div class="text-end">
                                    {% if eachTransaction.transactionStatus == "Rejected" or eachTransaction.transactionStatus == "Fraud"  %}
                                    <strong>+{{eachTransaction.amount}} XAF</strong>
                                    
                                    {% elif eachTransaction.transactionType == "Deposit" or eachTransaction.transactionType == "Recieving" or eachTransaction.transactionType == "Incoming" %}
                                    <strong>+{{eachTransaction.amount}} XAF</strong>

                                    {% elif eachTransaction.transactionType == "Donation" or  eachTransaction.transactionType == "Transfer" or eachTransaction.transactionType  == "Donx Withdrawal" or eachTransaction.transactionType == "Withdrawal" %}
                                    <strong>-{{eachTransaction.amount}} XAF</strong>

                                    {% endif %}
                                    <div class="text-small">
                                        {{eachTransaction.created_at}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    <!-- * item -->
                </ul>
                <div class="card-body pt-0">
                    <a href="/transactions" class="btn btn-block btn-outline-secondary">Load more</a>
                </div>
            </div>
        </div>
<!-- Member Transaction History -->
{% else %}
<!-- Admin Deposit Transaction -->
    {% if toBeReconcileTransaction %}
        <div class="section mt-4">
            <div class="section-heading">
                <h2 class="title">Reconcile Deposit</h2>
                <a href="/transactions" class="link">View All</a>
            </div>
            <div class="card">
            <ul class="listview flush transparent no-line image-listview detailed-list mt-1 mb-1">
            <!-- item -->
            {% for reconcileDeposit in toBeReconcileTransaction %}
                    <li>
                        <a href="/reconcile_transaction/{{reconcileDeposit.id}}" class="item">
                            <div class="icon-box bg-success">
                                <ion-icon name="arrow-up-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <div>
                                    <strong>{{reconcileDeposit.transactionType}}</strong>
                                    <div class="text-small text-secondary">{{reconcileDeposit.transactionStatus}}</div>
                                </div>
                                <div class="text-end">
                                    <strong>{{reconcileDeposit.amount}} XAF</strong>
                                    <div class="text-small">
                                        {{reconcileDeposit.created_at.date}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
            {% endfor %}
                </ul>
                <div class="card-body pt-0">
                    <a href="/transactions" class="btn btn-block btn-outline-secondary">Load more</a>
                </div>
            </div>
        </div>
{% endif %}
{% if toBeWithdrawalTransaction %}
        <div class="section mt-4">
            <div class="section-heading">
                <h2 class="title">Reconcile Withdrawal</h2>
                <a href="/transactions" class="link">View All</a>
            </div>
            <div class="card">
            <ul class="listview flush transparent no-line image-listview detailed-list mt-1 mb-1">
            <!-- item -->
            {% for reconcileWithdrawal in toBeWithdrawalTransaction %}
                    <li>
                        <a href="/process_withdrawal_request/{{reconcileWithdrawal.id}}" class="item">
                            <div class="icon-box bg-success">
                                <ion-icon name="arrow-up-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <div>
                                    <strong>Withdrawal</strong>
                                    <div class="text-small text-secondary">{{reconcileWithdrawal.withdrawalStatus}}</div>
                                </div>
                                <div class="text-end">
                                    <strong>{{reconcileWithdrawal.amount}} XAF</strong>
                                    <div class="text-small">
                                        {{reconcileWithdrawal.created_at.date}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
            {% endfor %}
                </ul>
                <div class="card-body pt-0">
                    <a href="/transactions" class="btn btn-block btn-outline-secondary">Load more</a>
                </div>
            </div>
        </div>
{% endif %}
{% endif %}


         <!-- Send Money -->
        <div class="section full mt-4">
            <div class="section-heading padding">
                <h2 class="title">Members</h2>
                <a href="/member_list" class="link">View All</a>
            </div>
            <!-- carousel small -->
            <div class="carousel-small splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for eachMember in members_instance %}
                        <li class="splide__slide">
                            <a href="/member_details/{{eachMember.username}}">
                                <div class="user-card">
                                    <img src="{% static 'assets/img/photo.png'  %}"  alt="img" class="imaged w-100">
                                    <strong>{{eachMember.first_name}}</strong>
                                </div>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <!-- * carousel small -->
        </div>
        <!-- * Send Money -->
        <br>

        <!-- app footer -->
        <div class="appFooter">
            <div class="footer-title">
                Copyright © GHS Ex Student 2026. All Rights Reserved.
            </div>
            Manage savings and track activities easily.
        </div>
        <!-- * app footer -->

    </div>
    <!-- * App Capsule -->

    {% include "members/app_buttom_menu.html" %}

    {% include "members/app_modals.html" %}


    {% if request.user.is_admin%}
    <!-- Admin Sidebar -->
    <div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <!-- profile box -->
                    <div class="profileBox pt-2 pb-2">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/img/photo.png'  %}" alt="image" class="imaged  w36">
                        </div>
                        <div class="in">
                            <strong>{{request.user.first_name}}</strong>
                            <div class="text-muted">{{request.user.username}}</div>
                        </div>
                        <a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
                            <ion-icon name="close-outline"></ion-icon>
                        </a>
                    </div>
                    <!-- * profile box -->
                    <!-- balance -->
                    <div class="sidebar-balance">
                        <div class="listview-title">Group Balance</div>
                        <div class="in">
                            <h1 class="amount">{{mainAccountBalance}} XAF</h1>
                        </div>
                    </div>
                    <!-- * balance -->

                    <!-- action group -->
                    <div class="action-group">
                    
                    </div>
                    <!-- * action group -->

                    <!-- menu -->
                    <div class="listview-title mt-1">Menu</div>
                    <ul class="listview flush transparent no-line image-listview">
                        <li>
                            <a href="/members_dashboard" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="home-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Home
                                    
                                </div>
                            </a>
                        </li>
              
                        <li>
                            <a href="/member_list" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="people-circle-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Members
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/withdrawals" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Witdrawals
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="gift-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    New Donation
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- * menu -->

                    <!-- others -->
                    <div class="listview-title mt-1">Others</div>
                    <ul class="listview flush transparent no-line image-listview">
                        <li>
                            <a href="/app_setting" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    My Profile
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/member_list" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="chatbubble-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Activate Members
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/member_logout" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Log out
                                </div>
                            </a>
                        </li>


                    </ul>
                    <!-- * others -->
                </div>
            </div>
        </div>
    </div>
    <!-- * Admin Sidebar -->

{% else %}
    <!-- Member Sidebar -->
    <div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <!-- profile box -->
                    <div class="profileBox pt-2 pb-2">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/img/photo.png'  %}" alt="image" class="imaged  w36">
                        </div>
                        <div class="in">
                            <strong>{{request.user.first_name}}</strong>
                            <div class="text-muted">{{request.user.username}}</div>
                        </div>
                        <a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
                            <ion-icon name="close-outline"></ion-icon>
                        </a>
                    </div>
                    <!-- * profile box -->
                    <!-- balance -->
                    <div class="sidebar-balance">
                        <div class="listview-title">GROUP BALANCE</div>
                        <div class="in">
                            <h1 class="amount">{{mainAccountBalance}} XAF</h1>
                        </div>
                    </div>
                    <!-- * balance -->

                    <!-- action group -->
                    <div class="action-group">
                        <a href="/donations" class="action-button">
                            <div class="in">
                                <div class="iconbox">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                Donations
                            </div>
                        </a>
                        <a href="/member_list" class="action-button">
                            <div class="in">
                                <div class="iconbox">
                        <ion-icon name="people-outline"></ion-icon>
                                </div>
                                Members
                            </div>
                        </a>
                        <a href="/transfer" class="action-button">
                            <div class="in">
                                <div class="iconbox">
                                    <ion-icon name="swap-horizontal-outline"></ion-icon>
                                </div>
                                Transfer
                            </div>
                        </a>
                        <a href="/app_setting" class="action-button">
                            <div class="in">
                                <div class="iconbox">
                                    <ion-icon name="people-outline"></ion-icon>
                                </div>
                                Settings
                            </div>
                        </a>
                    </div>
                    <!-- * action group -->

                    <!-- menu -->
                    <div class="listview-title mt-1">Menu</div>
                    <ul class="listview flush transparent no-line image-listview">
                        <li>
                            <a href="/members_dashboard" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="home-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Home
                                    
                                </div>
                            </a>
                        </li>
              
                        {% comment %} <li>
                            <a href="/member_list" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="people-circle-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Members
                                </div>
                            </a>
                        </li> {% endcomment %}
                        <li>
                            <a href="/transactions" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="repeat-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Transactions
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/make_withdrawal" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="arrow-up-circle-outline"></ion-icon>
                                </div>
                                <div class="in text-danger">
                                Withdrawal
                                </div>
                            </a>
                        </li>
                              <li>
                            <a href="/donations" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Donate Now
                                </div>
                            </a>
                        </li>

                                   <li>
                            <a href="/donation_withdrawal" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="repeat-outline"></ion-icon>
                                </div>
                                <div class="in">
                                Donation Cashout
                                </div>
                            </a>
                        </li>
                  
                    </ul>
                    <!-- * menu -->

                    <!-- others -->
                    <div class="listview-title mt-1">Others</div>
                    <ul class="listview flush transparent no-line image-listview">
                        <li>
                            <a href="/app_setting" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    My Profile
                                </div>
                            </a>
                        </li>
                        {% comment %} <li>
                            <a href="/member_list" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="chatbubble-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Group Members
                                </div>
                            </a>
                        </li> {% endcomment %}
                        <li>
                            <a href="/member_logout" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Log out
                                </div>
                            </a>
                        </li>


                    </ul>
                    <!-- * others -->
                </div>
            </div>
        </div>
    </div>
    <!-- * Member Sidebar -->

    {% endif %}
    {% include "ext/footer.html" %}

</body>

</html>