<!DOCTYPE html>
<html lang="en">
  {% include '../ext/header.html' %}

  <body class="bg-white">
    <!-- loader -->
    {% include 'members/app_loader.html' %}
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader">
      <div class="left">
        <a href="#" class="headerButton goBack"><ion-icon name="chevron-back-outline"></ion-icon></a>
      </div>
      <div class="pageTitle">Notification Detail</div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule" class="full-height">
      <div class="section">
        <div class="listed-detail mt-3">
          <div class="icon-wrapper">
            <div class="iconbox">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </div>
          </div>
          <h3 class="text-center mt-2">Payment Details</h3>
        </div>

        <ul class="listview simple-listview no-space mt-3">
             <li>
            <span>Names</span>
            <strong>{{ select_transaction.member.first_name}}</strong>
          </li>
              <li>
            <span>Username</span>
            <strong>{{ select_transaction.member.username }}</strong>
          </li>
          <li>
            <span>Status</span>
            <strong>{{ select_transaction.transactionStatus }}</strong>
          </li>
          <li>
            <span>Date</span>
            <strong>{{ select_transaction.created_at.date }}</strong>
          </li>
          <li>
            <span>Reference</span>
            <strong>{{ select_transaction.transactionReference }}</strong>
          </li>
          <li>
            <span>Amount</span>
            <strong>{{ select_transaction.amount }} XAF</strong>
          </li>
          {% if select_transaction.transactionStatus == "Verified" %}
          <span>PROOF OF PAYMENT</span>
            <div class="custom-file-upload" id="fileUpload1">
                  <img src="{{ select_transaction.PODs.url }}" alt="Proof of Payment" />
                <label for="fileuploadInput"></label>
          </div>
          {% elif select_transaction.transactionStatus == "Initiated" %}
          {% endif %}
        </ul>
        <br><br><br>
        <a href="/members_dashboard" class="btn btn-primary btn-block btn-lg">Close</a>
      </div>
    </div>
    <!-- * App Capsule -->

    <!-- App Bottom Menu -->
    {% include 'members/app_buttom_menu.html' %}
    {% include 'members/app_modals.html' %}

    <!-- App Bottom Menu -->

    {% include '../ext/footer.html' %}
  </body>
</html>
