{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>GHS Kake Ex Student Group</title>
    <meta name="description" content="Welcome to K12 App, manage daily savings and track group activities easily.">
    <meta name="keywords" content="GHS Kake 2012 badge" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/k12_icon.png'  %}" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href=" {% static 'assets/img/k12_icon.png'  %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'  %}">
    <link rel="stylesheet" href="{% static 'assets/css/pod.css'  %}">
    <link rel="manifest" href="__manifest.json">
</head>
